*, *::before, *::after {
    box-sizing: border-box;
}

/* global */

body {
    margin: 0;
    background: #fafafa;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
}

button:disabled {
    opacity: .3;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

table thead tr td {
    padding: 15px;
}

table tbody tr td {
    padding: 15px;
}

table td {
    font-family: "Noto Sans";
}


/* header */
header .container {
    display: flex;
    justify-content: space-between;
}

.header__left img {
    width: 155px;
}

header {
    padding: 20px;
}

.header__menu ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
}

.header__menu li {
    padding: 7px 10px;
    list-style: none;
}

.header__menu li.active {
    background: #2196f366;
    border-radius: 8px;
}

.header__menu li a {
    color: #000;
    text-decoration: none;
    font-family: "Roboto Medium", sans-serif;
}

.header__menu li:hover {
    background: #2196f366;
    border-radius: 8px;
}


/* hero */

.hero {
    /* padding: 20px; */
    min-height: 90vh;
    background: #2196F3;
    margin: 0 10px;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
}

.hero .container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 100px 50px;
}

.hero .h1 {
    font-size: 51px;
    color: #fafafa;
    font-family: "Noto Sans Bold";
    display: block;
    line-height: 71px;
    text-align: center;
}

.hero-background {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: -25px;
}

.hero-cloud-1 {
    position: absolute;
    width: 512px;
    height: 512px;
    bottom: -60px;
    left: 200px;
}

.hero-cloud-2 {
    position: absolute;
    left: -67px;
    width: 512px;
    height: 512px;
    bottom: -143px;
}

.hero-cloud-1 g {
    fill: rgba(3, 169, 244, 0.25);
}

.hero-cloud-2 g {
    fill: #03a9f459;
}

.hero-content-date {
    color: #fff;
    margin-top: 10%;
    text-align: center;
}

.hero-content-date .h3 {
    font-size: 47px;
    font-family: 'Noto Sans';
}

.hero-content-date .h3 b {/* letter-spacing: 0.045em; */font-family: 'Noto Sans Bold';}

.hero-content-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.hero-content-item {
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.hero-content-item b {
    font-size: 56px;
    font-family: 'Roboto';
}

.hero-content-item span {
    margin-top: 5px;
    font-family: 'Noto Sans';
}

.hero-content-item.green b {
    color: #5fff5f;
}

.hero-content-item.gray {
    opacity: .6;
}


/* trust */

.trust {
    padding: 40px 80px;
    background: #f5f5f5;
}

.trust .h3 {
    text-align: center;
    display: block;
    font-size: 70px;
    font-family: "Noto Sans Bold";
}

.trust-content p {
    font-family: "Roboto";
    line-height: 28px;
    font-size: 17px;
}

.trust-content {
    align-items: center;
    text-align: center;
    width: 100%;
}

.trust-background {
    text-align: center;
    width: 50%;
    margin: 42px auto 0;
    height: 30%;
    padding: 20px;
}

.trust-background img {
    width: 100%;
    height: 100%;
}

/* search */

.search {
    max-width: 1330px;
    margin: -130px auto 80px;
    padding: 40px;
    background: #fafafa;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
}

.search-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* promotions */

.promotions-heading {
    display: flex;
    flex-direction: column;
}

.promotions-heading .h3 {
    font-size: 40px;
    font-family: 'Noto Sans Bold';
    color: #fafafa;
}

.promotions-heading .p {
    font-size: 20px;
    font-family: 'Noto Sans';
    color: #fafafa;
}

.promotions {
    background: #2196F3;
    padding: 40px 40px 120px;
    margin: 8px;
    border-radius: 16px;
}

.promotions-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 8px;
}

.promotions-card {
    flex: 1;
    background: #fafafa;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.promotions-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.promotions-card-image {
    height: 250px;
    width: 106%;
    object-fit: cover;
    margin: 0 -8px;
}

.promotions-card-content .h6 {
    font-size: 24px;
    font-family: 'Noto Sans Bold';
    margin-top: 16px;
    display: block;
}

.promotions-card-content-description {
    font-size: 15px;
    margin-top: 14px;
    font-family: 'Roboto';
}

.promotions-card-footer .button {
    background: #03A9F4;
    color: #fafafa;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: 'Noto Sans Bold';
    border-radius: 16px;
    transition: .5s ease;
}

.promotions-card-footer .button:hover {
    background: #048cc9;
    color: #fafafa;
}

.promotions-card-footer {
    margin-top: 16px;
}

.promotions-card-content {
    /* height: 100%; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* subscribe */

.subscribe {
    max-width: 1330px;
    margin: 80px auto;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.subscribe .h6 {
    font-family: 'Noto Sans Bold';
    font-size: 26px;
    margin-bottom: 24px;
    display: block;
}

.subscribe-content form {
    display: flex;
    width: 100%;
}

.subscribe-content .form-group {
    width: 100%;
}

.subscribe-content .form-group input {
    border-radius: 0px;
    height: 100%;
}

.subscribe-content .form-button button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.subscribe-content .form-group input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* footer */

footer {
    border-top: 1px solid rgb(0 0 0 / 37%);
    padding: 20px;
    margin: 16px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right ul {
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-right ul li {
    padding: 7px 10px;
    list-style: none;
}

.footer-right li:hover {
    background: #2196f366;
    border-radius: 8px;
}

.footer-right ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto Medium';
}

.footer-left a {
    color: #000;
    font-size: 24px;
    font-family: 'Noto Sans Bold';
}

/* forms */

.form-row {width: 100%;display: flex;gap: 20px;}

.form-row .form-group {
    width: 50%;
}

.form-group input {
    width: 100%;
    padding: 15px 21px;
    border: 1px solid #e3e1de;
    background: #fafafa;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 0.065em;
}

.form-group label {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: #000;
    font-family: 'Roboto Medium';
    margin-left: 20px;
}

input:focus {
    outline: none !important;
}

button {
    padding: 15px 40px;
    font-family: 'Roboto Medium';
    letter-spacing: 0.045em;
    /* border: none; */
    background: #2196F3;
    border: none;
    margin: 0 auto;
    font-size: 19px;
    color: #fafafa;
    transition: opacity .2s ease;
    cursor: pointer;
}

.booking-footer .button {
    padding: 15px 40px;
    font-family: 'Roboto Medium';
    letter-spacing: 0.045em;
    /* border: none; */
    background: #2196F3;
    border: none;
    margin: 0 auto;
    font-size: 19px;
    color: #fafafa;
    transition: opacity .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.booking-footer .button:hover {
    opacity: .5;
}

button:hover {
    opacity: .5;
}

.form-row button {
    min-width: 400px;
}

.form-footer {
    margin-top: 9px;
}

.form-button-text {
    margin-top: 15px;
    display: block;
    font-family: "Roboto Medium";
}

.form-button-text a {
    color: #000;
}

/* sso */

.sso-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* color: #fff; */
}

.sso-heading .h3 {
    font-size: 36px;
    font-family: 'Noto Sans Bold';
    margin-bottom: 5px;
}

.sso-heading .p {
    font-size: 18px;
    font-family: 'Noto Sans';
}

.sso {
    padding: 40px;
    /* background: #2196F3; */
    margin: 16px;
    border-radius: 16px;
}

.sso-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sso-content .button {
    border-radius: 16px;
    min-width: 400px;
}


.sso-content {
    max-width: 800px;
    margin: 39px auto 0;
}

.sso .form-button {
    width: 100%;
    text-align: center;
}

/* search */

.search-heading {
    background: #2196F3;
    padding: 45px 45px 80px;
    text-align: center;
    font-size: 48px;
    font-family: 'Noto Sans Bold';
    color: #fff;
    margin: 16px 16px 0;
    border-radius: 8px;
}

.search-page .container {
    margin-top: -40px;
}

.search-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 20px;
}

.search-card-topbar {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.search-card-topbar span {
    font-family: 'Roboto Medium';
    font-size: 24px;
}

.search-card-topbar b {
    font-family: 'Noto Sans Bold';
    font-size: 28px;
}

.search-card-date {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.search-card-date-item {
    flex: 1;
    background: #eee;
    padding: 20px;
    border-radius: 8px;
}

.search-card-date-item .label {
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    color: #000;
    font-family: 'Roboto Medium';
}

.search-card-date-item-text {
    display: flex;
    font-family: 'Noto Sans';
    align-items: flex-end;
    gap: 8px;
}

.search-card-travel-time {
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Noto Sans';
    font-size: 14px;
    opacity: .7;
}

.search-card-chance {
    margin-top: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.search-card-chance-label {
    font-family: 'Noto Sans';
}

.search-card-chance-bar {
    background: #eee;
    width: 100%;
    border-radius: 16px;
    height: 28px;
}

.select-card-chance-description {
    font-family: 'Noto Sans';
    font-size: 14px;
    opacity: .7;
}

.search-card-footer {
    margin-top: 30px;
    display: inline-flex;
    gap: 19px;
    align-items: center;
}

.search-card-footer .cost {
    font-size: 24px;
    font-family: 'Noto Sans Bold';
}

.search-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search-card-chance-bar-thumb {
    height: 36px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    width: 8px;
    border-radius: 32px;
    margin-top: -5px;
    padding-top: 36px;
    font-size: 14px;
    font-family: 'Noto Sans';
}

.search-card-chance-bar.red-bar {
    background: darkred;
}

.search-card-chance-bar.orange-bar {
    background: darkorange;
}

.search-card-chance-bar.green-bar {
    background: darkgreen;
}

.search-card-chance-bar-thumb.ff-percent {
    left: 45%;
    position: relative;
}

.search-card-chance-bar-thumb.of-percent {
    left: 15%;
    position: relative;
}

.search-card-chance-bar-thumb.hu-percent {
    left: 99.3%;
    position: relative;
}

/* secondary pages */

.secondary-page {
    min-height: 80vh;
}

/* search popup */

.search-popup {
    position: fixed;
    bottom: 0;
    background: #03A9F4;
    width: 100%;
    padding: 22px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    color: #fff;
    font-family: 'Noto Sans';
    display: none;
}

.search-popup .button {
    background: #fff;
    padding: 10px;
    min-width: 183px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease;
}

.search-popup .button:hover {opacity: .3;}

/* profile */

.profile-heading {
    background: #2196F3;
    padding: 45px;
    text-align: center;
    font-size: 48px;
    font-family: 'Noto Sans Bold';
    color: #fff;
    margin: 16px 16px 0;
    border-radius: 8px;
}

.profile-topbar-info {display: flex;margin: 30px 0;align-items: center;justify-content: space-between;}

.profile-topbar-info-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-topbar-info-avatar {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background: #eee;
}

.profile-topbar-info-avatar img {
    width: 100%;
    height: 100%;
}

.profile-topbar-info-userinfo {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans';
}

.profile-topbar-info-userinfo .h3 {
    font-size: 24px;
    font-family: 'Noto Sans Bold';
    margin-bottom: 5px;
}

.profile-topbar-info-right a {background: #F44336;color: #fafafa;text-decoration: none;padding: 20px;display: block;text-align: center;font-family: 'Noto Sans Bold';border-radius: 16px;transition: .5s ease;}

/* seats */
.seat-heading {
    text-align: center;
    padding: 40px;
}

.seat-heading .h1 {
    font-size: 48px;
    font-family: 'Noto Sans Bold';
}

.seat-rows {
    justify-content: center;
    max-width: 485px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    background: #eee;
    padding: 35px;
}

.seat.active {
    background: #505050;
}

.seat:hover {
    background: #8d8d8d;
}

.seat {
    background: #6e6d6d;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Bold';
    color: #fff;
    cursor: pointer;
}

.seat-row-inner {
    display: flex;
    gap: 5px;
}

.seat-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* booking */

.booking-heading {
    padding: 40px;
    text-align: center;
    background: #2196F3;
    margin: 16px;
    border-radius: 16px;
    color: #fff;
}

.booking-heading .h1 {
    font-size: 48px;
    font-family: 'Noto Sans Bold';
    word-break: break-word;
}

.booking-row {
    display: flex;
    gap: 20px;
}

.booking-row-left {
    width: 60%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.booking-row-left-flight {
    padding: 20px;
    background: #eee;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.booking-row-left-flight-row.flight-number span {
    font-size: 18px;
    display: block;
    font-family: 'Noto Sans Bold';
}

.booking-row-left-flight-row {
    display: flex;
    gap: 8px;
}

.booking-row-left-flight-row-data.departure-airport {
    display: flex;
    flex-direction: column;
}

.booking-row-left-flight-row-data {display: flex;flex-direction: column;background: #ccc;width: 50%;padding: 15px;border-radius: 16px;}

.booking-row-left-flight-row-data .city {
    font-size: 24px;
    font-family: Noto Sans;
    font-weight: bold;
}

.booking-row-left-flight-row-data .airport {
    font-size: 14px;
    margin-top: 3px;
    font-family: 'Roboto';
}

.booking-row-left-flight-row-data .date {
    font-size: 18px;
    font-family: Noto Sans;
    font-weight: bold;
}

.booking-row-left-flight-row-data .time {
    font-size: 14px;
    margin-top: 3px;
    font-family: 'Roboto';
}


.booking-row-left-flight-row-data.departure-time {
}

.booking-row-left-flight-row.price span {
    font-size: 18px;
    font-family: 'Noto Sans Bold';
}

.booking-row-right {
    width: 40%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.booking-row-right-title {
    font-size: 24px;
    font-family: 'Roboto Medium';
}

.booking-row-right-passenger {
    background: #efefef;
    display: flex;
    padding: 20px;
    border-radius: 16px;
    flex-direction: column;
    gap: 20px;
}

.booking-row-right-passenger .form-group label {
    margin-left: 0px;
}

.booking-footer {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.booking-footer .button {
    min-width: auto !important;
    margin: unset !important;
}

.booking-footer .h3 {
    font-size: 24px;
    font-family: 'Noto Sans Bold';
}

.booking-row-right-passenger b {
    font-family: 'Noto Sans Bold';
}

.booking-row-right-passenger span {
    font-family: Roboto;
}

.booking-row-right-passengers {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.booking-row-left-flight-row {
    font-family: 'Roboto';
}

/* media */

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }

    .header__menu ul li {
        align-self: center;
        flex: 1 0;
    }

    footer .container {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-right ul {
        flex-direction: column;
        gap: 0;
        padding: 0;
        /* margin: 0; */
    }

    .footer-right ul li {
        padding-left: 0;
    }

    .select-card-chance-description {
        margin-top: 27px;
    }

    .profile-topbar-info {
        flex-direction: column;
    }

    .profile-reservations table {
        overflow: auto;
    }

    .profile-reservations {
        overflow: auto;
    }

    .profile-topbar-info-right {
        margin-top: 20px;
    }

    .hero .h1 {
        font-size: 24px;
        line-height: 48px;
    }

    .hero .container {
        padding: 30px 40px;
    }

    .search {
        margin: 40px 16px 80px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100% !important;
    }

    .form-row button {
        min-width: 100% !important;
    }

    .trust-background {
        width: 100%;
        height: 100%;
    }

    .promotions-content {
        flex-wrap: wrap;
    }

    .promotions-card {
        width: 100%;
        flex: 0 1 auto;
    }

    .subscribe {
        margin: 80px 16px;
    }

    .subscribe-content form {
        flex-direction: column;
    }

    .subscribe-content .form-group input {
        border-radius: 8px !important;
    }

    .subscribe-content .form-button button {
        border-radius: 8px !important;
    }

    .subscribe-content .form-button {
        margin-top: 20px;
    }

    .hero-content-date .h3 {
        font-size: 36px;
    }

    .hero-content-item {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .hero-content-item b {
        font-size: 46px;
    }

    .hero-content-date {
        margin-top: 39%;
    }

    .booking-row {
        flex-direction: column;
        margin: 16px;
    }

    .booking-row-left {
        width: 100%;
    }

    .booking-row-right {width: 100%;}

    .booking-footer {
        flex-direction: column;
    }

    .seat-rows {
        flex-direction: column;
        align-items: center;
    }
}

/* fonts */

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Noto Sans Medium";
    src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('opentype');
}

@font-face {
    font-family: "Noto Sans Bold";
    src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('opentype');
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Medium";
    font-weight: 600;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}